<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>


   
  </head>

  <body id="bodyapp">
<div class="topnav" id="myTopnav">

 <%= link_to "Home Page", new_user_session_path , class: 'nav_menu' %> 
<%= link_to "Restorant", restorant_restorant_path, class: 'nav_menu' %> 
 <%= link_to "Gallery", restorant_gallery_path, class: 'nav_menu' %> 
 <%= link_to "Lunch Menu", restorant_lunch_menu_path, class: 'nav_menu' %> 
<%= link_to "Wedding Menu", restorant_wedding_menu_path, class: 'nav_menu' %> 
 <%= link_to "Contact", restorant_contact_path , class: 'nav_menu'%> 
 <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
   <% if user_signed_in? %>
  <div id="sign_out_div">  <%= current_user.name %> -<%= link_to 'Sign out', destroy_user_session_path, :id => 'sign_out' , :method => "delete" %> </div>
  <br>
  <% end %>
  </div>


<!--   <div id="current_date">
  <h2 id="hdate"> CurrentDate: </h2> <h2 id="date"></h2> 
  </div> -->
    <%= yield %>

  <%= render "layouts/footer" %> 
<script>
$("#datepicker").datepicker({ });
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}




</script>

 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
