


<div id="main_edit_post">
<%= form_with(model: post, local: true,:html => { :id => "trigger_the_fucing_form"}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <fieldset>
    
   <hr class="colorgraph">
       <div class="form-group">

<%= form.label :date, class: "edit_content" ,id: "blabla" %> 
    <h3 id="edit_post_title"> <%= form.text_field :title, id: :post_title , class: "form-control input-lg" %> </h3>
  </div>

   <div class="form-group">
   <%= form.label :Order,class: "edit_content" %> 
    <h3 id="edit_post_content"> <%= form.text_area :content, id: :post_content , class: "form-control input-lg"%> </h3>
  </div>
<hr class="colorgraph">
        <div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
    <%= form.submit class: "btn btn-lg btn-success btn-block", id: "button_submit_edit" %>
  </div>

<div class="col-xs-6 col-sm-6 col-md-6">
<%= link_to 'Back', posts_path, class: "btn btn-lg btn-primary btn-block" ,id: "new_back" %>
  </div>
        </div>
   
<% end %>
</div>



<script>

   $("#submit").click(function(event){
    event.preventDefault();
    var searchIDs = $("#dev-table input:checkbox:checked").map(function(){
      return $(this).val();
    }).get();
    $("#foodiwant").html(searchIDs)
    alert(searchIDs);
     event.preventDefault();
    var searchPrice = $("#dev-table input:checkbox:checked").map(function(){
      return $(this).closest('td').siblings().find('h4').text();
    }).get();



       $('#post_title').val($("#datepicker").val()); 
  $('#post_content').val(searchIDs); 

    $('#trigger_the_fucing_form').submit();


  });

 $("#button-delete").click(function(event){
  event.preventDefault();
   $( "#foodiwant" ).empty();
 })

</script>