<div class="container" id="show_padding">
<div class="row" id="sdivche">
      <div class="col-md-6" id="fdivche">
        <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Your Orders</h3>
            </div>
<p id="notice"><%= notice %></p>


   <table class="table table-hover"  >
    <thead>
     <tr>
     <th><h3 class="order">Date</h3></th>
       <th id="your_order"><h3 class="order">Order</h3></th>
           </tr>
  </thead>
  <tbody>
   <tr>
   <td><h3 class="order"><%= @post.title %></h3></td>
        <td><h3 class="order">  <%= @post.content %></h3></td></h3></td>
       <td><h3 class="order">  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-lg btn-success btn-block",id: "button_like_href_show_edit" %> </h3></td>
 <td><h3 class="order"> <%= link_to 'Back', posts_path , class: "btn btn-lg btn-primary btn-block", id: "button_like_href_show_back" %></h3></td>

      </tr>
  
  </tbody>
</table>
        </div>
  </div>
</div>
</div>


